<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=stylesheet type=text/css
              href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css
              href="{{ url_for('static', filename='style.css') }}?234">
        <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">


        <style>
        div.hh {
          background-color: #572C8C;
          top: 0px;
          position:fixed;
          width: 100%;
          z-index:100
          }

          img {
          display: block;
          margin-left: auto;
          margin-right: auto;}

          a,div{font-family:'Reem Kufi', sans-serif; font-size:20px;color:#040E3F;}

          div.container{
            position:fixed;
            top:150px;
          }

          a {font-size: 16px;}
          </style>

    </head>
    <body>

      <div class="hh">
        <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
        <h1 style="color: #F2F2F2">Anti-Spyware</h1></div><div class="col-lg-8"></div>
        </div>
        <div class="row" style="height:30px"></div>
        <div class="row">
          <div class="col-lg-7"></div>
          <div class="col-lg-1">
          <a href="/" style="font-size:20px;color:#F2F2F2">Home</a></div>
          <div class="col-lg-1"><a href="https://www1.nyc.gov/nychope/site/page/resources" style="font-size:20px;color:#F2F2F2">NYCHope</a></div>
          <div class="col-lg-1"><a style="font-size:20px;color:#F2F2F2">&nbsp;&nbsp;&nbsp;&nbsp;About</a></div>
          <div class="col-lg-1"><a style="font-size:20px;color:#F2F2F2">Contact</a></div>
          <div class="col-lg-1"><a style="font-size:20px;color:#F2F2F2">FAQ</a></div>
      </div>
      </div>

      <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
        <div class="box" style="width:600px;height:500px;margin-top:150px;position:fixed;background-color:#BDBDBD;">
        <div class="box2" style="margin-left:25px;margin-right:auto;width:550px;height:410px;margin-top:25px;position:fixed;background-color:#F2F2F2;">

          <div class="" style="width:550px;height:378px; overflow:scroll;position:absolute">
            <h3>{{ app.title|safe }} </h3>
            <table class="table table-bordered">
                <tbody>
  <tr><td>AppId</td><td><code>{{ app.appId }}</code></td></tr>
  <tr><td>Developer</td> <td><i>{{ app.developer }}</i> </td></tr>
  <tr><td>Website</td> <td>{{ app.website }} </td></tr>
                    {% for k, v in info.items() %}
  <tr><td>{{ k }}</td> <td>{{ v }} </td></tr>
                    {% endfor %}
                </tbody>
            </table>

          </div>


          </div>

          <p style="margin-top:450px">
            <a href='' class='button' id="backButton" style="margin-left:25px" onclick="javascript:history.go(-1);return false;">BACK</a>
          </p>
          </div>

          <div class="col-lg-3"></div>
          </div>
        </div>

        <!-- <div class="">
            <h2>{{ app.title|safe }} </h2>
            <div class="">
                <table class="table table-bordered">
                    <tbody>
			<tr><td>AppId</td><td><code>{{ app.appId }}</code></td></tr>
			<tr><td>Developer</td> <td><i>{{ app.developer }}</i> </td></tr>
			<tr><td>Website</td> <td>{{ app.website }} </td></tr>
                        {% for k, v in info.items() %}
			<tr><td>{{ k }}</td> <td>{{ v }} </td></tr>
                        {% endfor %}
                    </tbody>
                </table>
		<label class="btn btn-danger">
		    <button type="button" class="btn btn-danger"
			    onclick='' disabled>Delete</button>
		</label>
            </div>

            <div class="jumbotron" style="padding: 1em">
                <span style="margin-bottom: 2em; display:block"><mark><b>{{ app.summary|safe }}</b></mark></span>
                {{ app.descriptionHTML|safe }}
            </div>
            <div class="text-sm-left">
		<h4>Number of permissions: {{ app.permissions| length }}</h4>
                <ul class="list-group">
                    {% for perm in app.permissions %}
                    <li class="code">{{ perm }}</li>
                    {% endfor %}
		</ul>
            </div>
        </div> -->

        <script>
        function goBack() {
            window.history.back();
        }
        </script>

    </body>
</html>
