<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anti-Spyware</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel=stylesheet type=text/css
        href="{{ url_for('static', filename='style.css') }}">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <style>
  div.hh {
    background-color: #572C8C;
    top: 0px;
    position:fixed;
    width: 100%;
    z-index:100
    }

    img {
    display: block;
    margin-left: auto;
    margin-right: auto;}

    a,div{font-family:'Reem Kufi', sans-serif;}

    div.container{
      position:fixed;
      top:150px;
    }

    a {font-size: 16px;}
    </style>

    <script type="text/javascript">
    var oldURL = document.referrer;
    // alert(oldURL);
    window.onload=previous;
    function previous(){
      if (oldURL == 'http://127.0.0.1:5000/existing'){
        document.getElementById("history").style.display = "inline";
      }
      else if(oldURL == 'http://127.0.0.1:5000/scan/test'){
        document.getElementById("history").style.display = "inline";
      }
    }
    </script>
</head>
<body>


  <div class="hh">
    <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
    <h1 style="color: #F2F2F2">Anti-Spyware</h1></div><div class="col-lg-8"></div>
    </div>
    <div class="row" style="height:30px"></div>
    <div class="row">
      <div class="col-lg-7"></div>
      <div class="col-lg-1">
      <a href="/" style="font-size:20px;color:#F2F2F2">Home</a></div>
      <div class="col-lg-1"><a href="https://www1.nyc.gov/nychope/site/page/resources" style="font-size:20px;color:#F2F2F2">NYCHope</a></div>
      <div class="col-lg-1"><a style="font-size:20px;color:#F2F2F2">&nbsp;&nbsp;&nbsp;&nbsp;About</a></div>
      <div class="col-lg-1"><a style="font-size:20px;color:#F2F2F2">Contact</a></div>
      <div class="col-lg-1"><a style="font-size:20px;color:#F2F2F2">FAQ</a></div>
  </div>
  </div>

  <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
    <div class="box" style="width:600px;height:500px;margin-top:150px;position:fixed;background-color:#BDBDBD;">
    <div class="box2" style="margin-left:25px;margin-right:auto;width:550px;height:410px;margin-top:25px;position:fixed;background-color:#F2F2F2;">
      <p style="margin-left:50px;margin-top:50px;font-size:18px;color:#040E3F">
      First Name: Adsuan <br>
      Last Name: Nishseth<br>
      Address: Cornell Tech<br>
       Phone: 732980123<br><br>
       Scan History:
       <br>
    </p>
        <!-- <div id="msg" class="alert alert-danger invisible" style="height: 3em">  {{ error }}   </div> -->
<div id="history" style="text-align:center;display:none">
        <table style="width: 50%;text-align:center" align="center" border="2" cellpadding="2">
     <tbody>
     <tr style="height: 21px;">
     <td style="height: 21px;">Scan ID</td>
     <td style="height: 21px;">&nbsp;Date Of Scan</td>
     <td style="height: 21px;">&nbsp;Record</td>
     </tr>
     <tr style="height: 22px;">
     <td style="height: 22px;">123456</td>
     <td style="height: 22px;">04/10/2018</td>
     <td style="height: 22px;">PDF Link?</td>
     </tr>
     </tbody>
     </table>
</div>


      </div>

      <p style="margin-top:450px">
        <a href='/profile' class='button' style="margin-left:25px">BACK</a>
        <a href='/scan' class='button' id="cc" style="margin-left:342px" onclick=myFunc()>NEW SCAN</a>
      </p>
      </div>
      <div class="col-lg-3"></div>
      </div>
    </div>



</body>
</html>
