<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='style.css') }}?234">
    <!-- <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='myjscript.js') }}?3"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">

    <!-- <title>Scan Phone for IPS apps</title> -->
    <script>
        var device = "{{ device }}";
        var serial = "{{ serial }}";
        function report_success(m) {
            $('#msg').html(m);
            $('#msg').prop('class', 'alert alert-success')
        }
        function report_failure(m) {
            $('#msg').html(m);
            $('#msg').prop('class', 'alert alert-danger')
        }
        function delete_app(appid, e) {
            y = confirm(`Are you sure you want to delete the app  '${appid}'?"`);
            if (!y){return;}
            data = {'appid': appid, 'serial': serial, 'device': device};
            $.post('/delete/app/' + device, data=data).done(function (r){
                $('tr#' + appid).addClass('text-muted');
                $(e).removeClass('text-danger');
                $(e).addClass('text-success');
                $(e).html('&#10003;');
                $(e).prop('onclick', null).off('click');
                report_success(r);
            }).fail(function(){
                report_failure("Could not delete the app '" + appid + "'")
            })
        }
        function postform(form1) {
            // $(form1).prop('disabled', true);
            d1 = $('#form-metainfo').serialize()
            // d2 = $('#form-applist').serialize()
            $.post('/save/metainfo/' + device, data = d1).done(function (r) {
                report_success(r)
                $('#btn-submit').prop('disabled', false);
            }).fail(function (r) {
                report_failure(r.responseText)
            });
            return false;
        }
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('input[type="text"]').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
            $('#btn-submit').prop('disabled', true);
            $('#applist > tr > td > input').focusout(function (e) {
                data = {'appId': e.target.name, 'serial': serial, 'note': e.target.value}
                $.post('/save/appnote/' + device, data = data).done(success = function (r) {
                    report_success("Note saved.")
                });
            })
        });
    </script>



    <style>
    div.hh {
      background-color: #572C8C;
      top: 0px;
      position:fixed;
      width: 100%;
      z-index:100
      }

      img {
      display: block;
      margin-left: auto;
      margin-right: auto;}

      a,div{font-family:'Reem Kufi', sans-serif; font-size:20px}

      div.container{
        position:fixed;
        top:150px;
      }

      a {font-size: 16px;}
      </style>
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<div class="hh">
  <div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-3">
  <h1 style="color: #F2F2F2">Anti-Spyware</h1></div><div class="col-lg-8"></div>
  </div>
  <div class="row" style="height:30px"></div>
  <div class="row">
    <div class="col-lg-7"></div>
    <div class="col-lg-1">
    <a href="/" style="font-size:20px;color:#F2F2F2">Home</a></div>
    <div class="col-lg-1"><a href="https://www1.nyc.gov/nychope/site/page/resources" style="font-size:20px;color:#F2F2F2">NYCHope</a></div>
    <div class="col-lg-1"><a style="font-size:20px;color:#F2F2F2">&nbsp;&nbsp;&nbsp;&nbsp;About</a></div>
    <div class="col-lg-1"><a style="font-size:20px;color:#F2F2F2">Contact</a></div>
    <div class="col-lg-1"><a style="font-size:20px;color:#F2F2F2">FAQ</a></div>
</div>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
  <div class="box" style="width:600px;height:500px;margin-top:150px;position:fixed;background-color:#BDBDBD;">
  <div class="box2" style="margin-left:25px;margin-right:auto;width:550px;height:410px;margin-top:25px;position:fixed;background-color:#F2F2F2;">
    <!-- <p style="margin-top:30px"> -->
      <!-- <div align="center"> -->
      <p style="text-align:center;margin-top:50px;font-size:22px;color:#040E3F">Please keep your phone unlocked while connecting...</p>
      <!-- <p style="text-align:center;margin-top:150px;font-size:22px;color:#040E3F"> -->
      <p style="text-align:center;font-size:22px;color:#040E3F">Trust this computer?</p>
      <!-- <p style="text-align:center;font-size:22px;color:#040E3F">Device Status: TBD</p> -->
        <p style="text-align:center;margin-top:70px;font-size:22px;color:#040E3F">Select phone system before scanning:
          <!-- <label class="font-weight-bold lead">Scan</label> -->
          <br><br>
          <!-- {% for t in ["Android", "iOS", "test"] %}

              <button onclick="window.location.href='/scan/{{ t.lower() }}'" id="btn-android"
                      class="button">{{ t }}</button>
          {% endfor %}
          <br> -->
          <input id="ios" type="radio" name="phonetype" value="ios" > iOS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input id="android" type="radio" name="phonetype" value="android" > Android
          <!-- <hr/> -->
      <!-- </div> -->
    </p>

    <!-- <div class="progress">
        <div id='scan-prog' class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        </div>
    </div> -->

    </div>

    <p style="margin-top:450px">
      <a href='' class='button' id="backButton" style="margin-left:25px" onclick=previous()>BACK</a>
      <a href='' class='button' id="scanButton" style="margin-left:383px" onclick=myFunc1()>SCAN</a>
    </p>
    </div>

    <script type="text/javascript">
      var link = document.getElementById("scanButton");
      function myFunc1(){
        if(!(document.getElementById("android").checked || document.getElementById("ios").checked)){
          link.setAttribute("href","/scan/test");
        }
        else if(document.getElementById("android").checked)
        {
          link.setAttribute("href","/scan/android");
        }
        else if(document.getElementById("ios").checked)
        {
          link.setAttribute("href","/scan/ios");
        }
    }


    var oldURL = document.referrer;
    var backButton = document.getElementById("backButton");
    alert(oldURL);
    // window.onload=previous;
    function previous(){
      if (oldURL == 'http://127.0.0.1:5000/mode'){
        // window.location.href = "/mode";
        backButton.setAttribute("href","/mode");
      }
      else if(oldURL == 'http://127.0.0.1:5000/confirm'){
        backButton.setAttribute("href","/confirm");
      }
    }

    </script>

    <div class="col-lg-3"></div>
    </div>
  </div>




</body>
</html>
