<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='style.css') }}?234">
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='myjscript.js') }}?3"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">

    <!-- <title>Scan Phone for IPS apps</title> -->
    <script>
        var device = "{{ device }}";
        var serial = "{{ serial }}";
        function report_success(m) {
            $('#msg').html(m);
            $('#msg').prop('class', 'alert alert-success')
        }
        function report_failure(m) {
            $('#msg').html(m);
            $('#msg').prop('class', 'alert alert-danger')
        }
        function delete_app(appid, e) {
            y = confirm(`Are you sure you want to delete the app  '${appid}'?"`);
            if (!y){return;}
            data = {'appid': appid, 'serial': serial, 'device': device};
            $.post('/delete/app/' + device, data=data).done(function (r){
                $('tr#' + appid).addClass('text-muted');
                $(e).removeClass('text-danger');
                $(e).addClass('text-success');
                $(e).html('Uninstalled.');
                $(e).prop('onclick', null).off('click');
                report_success(r);
            }).fail(function(){
                report_failure("Could not delete the app '" + appid + "'")
            })
        }
        function postform(form1) {
            // $(form1).prop('disabled', true);
            d1 = $('#form-metainfo').serialize()
            // d2 = $('#form-applist').serialize()
            $.post('/save/metainfo/' + device, data = d1).done(function (r) {
                report_success(r)
                $('#btn-submit').prop('disabled', false);
            }).fail(function (r) {
                report_failure(r.responseText)
            });
            return false;
        }
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('input[type="text"]').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
            $('#btn-submit').prop('disabled', true);
            $('#applist > tr > td > input').focusout(function (e) {
                data = {'appId': e.target.name, 'serial': serial, 'note': e.target.value}
                $.post('/save/appnote/' + device, data = data).done(success = function (r) {
                    report_success("Note saved.")
                });
            })
        });
    </script>

    <style>
    div.hh {
      background-color: #572C8C;
      top: 0px;
      position:fixed;
      width: 100%;
      z-index:100
      }
      img {
      display: block;
      margin-left: auto;
      margin-right: auto;}
      a,div{font-family:'Reem Kufi', sans-serif; font-size:20px}
      div.container{
        position:fixed;
        top:150px;
      }
      a {font-size: 16px;}
      td {height:45px; text-align:center}
      th {color:#040E3F; text-align:center}
      </style>
</head>

<body>
<!-- <div class="">
    <h4><span style="color: green; font-family: monospace; font-size: 0.3in">PhoneScanner:</span>
        Scan phones for IPS apps</h4>
    <p>This application scans an Android and iOS phone for apps that can be used to spy,
        track, or monitor on a person without their knowledge.
    </p>
</div> -->


<div class="hh">
  <div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-3">
  <h1 style="color: #F2F2F2">Anti-Spyware</h1></div><div class="col-lg-8"></div>
  </div>
  <div class="row" style="height:30px"></div>
  <div class="row">
    <div class="col-lg-7"></div>
    <div class="col-lg-1">
    <a href="/" style="font-size:20px;color:#F2F2F2">Home</a></div>
    <div class="col-lg-1"><a href="https://www1.nyc.gov/nychope/site/page/resources" style="font-size:20px;color:#F2F2F2">NYCHope</a></div>
    <div class="col-lg-1"><a style="font-size:20px;color:#F2F2F2">&nbsp;&nbsp;&nbsp;&nbsp;About</a></div>
    <div class="col-lg-1"><a style="font-size:20px;color:#F2F2F2">Contact</a></div>
    <div class="col-lg-1"><a style="font-size:20px;color:#F2F2F2">FAQ</a></div>
</div>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
  <div class="box" style="width:600px;height:500px;margin-top:150px;position:fixed;background-color:#BDBDBD;">
  <div class="box2" style="margin-left:25px;margin-right:auto;width:550px;height:410px;margin-top:25px;position:fixed;background-color:#F2F2F2;">

      <!-- <div id="msg" class="alert alert-danger invisible" style="height: 3em">  {{ error }}   </div> -->
      <div class="" style="width:550px;height:378px; overflow:scroll;position:absolute">
          <table class="" style="width:550px;height:410px">
              <thead>
              <tr>
                  <th style="width: 18%">&nbsp;&nbsp;App Name</th>
                  <!-- <th style="width: 7%">App ID</th> -->
                  <th style="width: 17%">Flags</th>
                  <th style="width: 8%"></th>
                  <th style="width: 7%"></th>
                  <!-- <th style="width: 30%">Notes</th> -->
              </tr>
              </thead>
              <tbody id="applist" class="h-100">
              {% for appId, info in apps.items() %}
                  <tr id="{{ appId.replace('.', '-') }}">

                      <td><a href="/details/app/{{ device }}?appId={{ appId }}&serial={{ serial }}" target="_blank">
                          &nbsp;&nbsp;{{ info['title'] }}</a></td>
                      <!-- <td><a class="{{ info.class_ }} appid" href="https://www.google.com/search?q={{ appId }}"
                             target="_blank"><code>{{ appId }}</code></a></td> -->
                      <td>{{ info['flags'] | safe }}</td>

                      {% if appId in sysapps %}
                          <td><a class="h4 text-danger" onclick="" href="javascript:;" data-toggle="tooltip"
                                 title="System App! Cannot delete">Uninstall</a></td>
                      {%  else %}
                          <td><a class="h4 text-danger" onclick="delete_app('{{ appId }}', this)" href="javascript:;" data-toggle="tooltip"
                                 title="Delete app">Uninstall</a></td>
                      {% endif %}

                      <td style="color:#040E3F"><a class="h4" onclick="" href="/" data-toggle="tooltip"
                             title="App details" >Details</a></td>
                      <!-- <td><input type="text" placeholder="Notes" class='form-control' name="{{ appId }}" /></td> -->
                  </tr>
              {% endfor %}
              </tbody>
          </table>

      </div>

      <div class="h4" style="color:#040E3F;position:fixed;margin-top:380px;margin-left:18px;text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);">
        <a style="color:#040E3F;" href="" >&nbsp;&nbsp;View Report</a>
        <a style="color:#040E3F;" href="" onclick="myFunc()">&nbsp;&nbsp;Email</a>
        <a style="color:#040E3F;" href="">&nbsp;&nbsp;Download</a>
      </div>

    </div>

    <p style="margin-top:450px">
      <a href='/confirm' class='button' style="margin-left:25px;position:fixed">DONE</a>
      <!-- <a href='' class='button' id="cc" style="margin-left:342px" onclick=myFunc()>CONTINUE</a> -->
    </p>
    </div>
    <div class="col-lg-3"></div>
    </div>
  </div>

<script>
// var email = document.getElementById("email");
function myFunc(){
  alert("Email alert");
}
</script>





</body>
</html>
